@use '../abstract/variables' as v;

.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-banner {
        padding: 3rem;
        background-color: v.$tertiary-color;
        border-radius: 35px;
        opacity: 0.95;
        h1 {
            font-size: v.$text-size;
            padding-bottom: .3rem;
        }
        h2 {
            @include v.tamanho-fonte(1.5);
            color: v.$secondary-color;
        }
    }
}

@media screen and (max-width: 1320px) {
    .banner {
        padding: 6rem;
        box-sizing: border-box;
        .inner-banner {
            padding: 2rem;
            h1 {
                @include v.tamanho-fonte(1.2);
            }
            h2 {
                @include v.tamanho-fonte(1.8);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .banner {
        padding: 3rem;
        box-sizing: border-box;
        .inner-banner {
            padding: 2rem;
            h1 {
                @include v.tamanho-fonte(1.5);
            }
            h2 {
                @include v.tamanho-fonte(2);
            }
        }
    }
}