@use '../abstract/variables' as v;

#cupom {
    background-color: v.$tertiary-color;
    padding: 4rem;
    text-align: center;
    h2 {
        @include v.tamanho-fonte(1.7);
        margin-bottom: 1.5rem;
    }
    .input {
        margin: 0 auto;
        width: 530px;
        border-radius: 20px;
        border: 2px solid white;
        background-color: white;
        input {
            border-radius: 20px;
            height: 35px;
            border: none;
            width: 510px;
            outline: none;
            text-align: center;
            @include v.tamanho-fonte(2);
            color: v.$primary-color;
        }
        &:hover, &:focus-within {
            box-shadow: 0 2px 3px 0 v.$primary-color;
            outline: none;
        }
    }
    button {
        text-transform: uppercase;
        margin-top: 1rem;
        outline: none;
        height: 40px;
        text-align: center;
        width: 130px;
        background-color: v.$secondary-color;
        color: v.$bg-color;
        letter-spacing: .75px;
        font-weight: bold;
        cursor: pointer;
        border: 1px v.$secondary-color;
        border-radius: 50px;
        &:hover {
            background-color: v.$primary-color;
            border-color: v.$primary-color;
        }
    }
}

@media screen and (max-width: 660px) {
    #cupom {
        padding: 2rem;
        h2 {
            @include v.tamanho-fonte(2);
        }
        .input {
            width: 100%;
            input {
                width: 80%;
            }
        }
        button {
            @include v.tamanho-fonte(4);
        }
    }
}